
<div id="cache_pictures">
   <%= image_tag("icons.png") %>
   <%= image_tag("animated.ajax.loader.gif") %>
   <%= image_tag("logo_small.png") %>
   <%= image_tag("p_b.png") %>
   <%= image_tag("play_b.png") %>
   
   
   
   <img src="/yui/build/treeview/assets/skins/sam/treeview-sprite.gif"/>
</div>   